/* currency Conventer theme by IWong v 0.0.1*/

background_color_1 = #f0efee
body_background = #2f3337
header_color = #f0efee
header_background = #36c2e0
footer_text_color = #fafafa

toUpper()
	text-transform uppercase

/*#####################*/
body
	background-color  body_background !important
	
section.content-wrapper
	height 95vh
	background-color background_color_1
	
footer
	color footer_text_color
	background-color body_background
	position relative

header
	background-color header_background
	width 100%

nav.custom
	background-color header_background
	
.appTitle
	toUpper()
	font-weight bold
	font-size 2em
	padding-top 10px
.homeLink
	font-size 3em
	color #f0efee
