doctype html
html(lang="ru")

	head
			// meta
			meta(charset='utf-8')
			// - no index
			meta(name='robots', content='noindex, follow')
			meta(name='author', content='Ivan Wong')
			meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
			title Currency Conventer for Interkon

			// styles
			link(rel='stylesheet', href='assets/components/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='assets/components/components-font-awesome/css/font-awesome.min.css')
			// scripts dependencies
			script(src='assets/components/jquery/dist/jquery.min.js')
			script(src='assets/components/bootstrap/dist/js/bootstrap.min.js')
			// application scripts
			script(src='assets/js/app.min.js')


	body