.row
	.col-md-6.text-center.cr-item
		.panel
			.item-name
				i.fa.fa-euro
				span.small-mark
					| &nbsp; &nbsp; to &nbsp; &nbsp;
				i.fa.fa-rub
				.go-link
					a(href='#/euru') CONVERT
	.col-md-6.text-center.cr-item
		.panel
			.item-name
				i.fa.fa-rub
				span.small-mark
					| &nbsp; &nbsp; to &nbsp; &nbsp;
				i.fa.fa-euro
				.go-link
					a(href='#/rueu') CONVERT